body{
    position: fixed;
    margin:0;
    display:grid;
    grid-template-areas: "as m"
                         "as m"
                         "as f";
    grid-template-columns: 1fr 2fr;
    height: 100%;
    width: 100%;
}
.content-prog{
    display:grid;
    grid-template-columns: 1fr 5fr;
}
.content-prog p {
    margin-right:20px;
    text-align: right;
}
.cpp{
    width:80%;
}
.c{
    width: 60%;
}
.java{
    width:20%;
}
.html{
    width:90%;
}
.graphics-percent{
    background-color:blue;
    color:white;
    padding:10px;
    margin-top:7px;
}
aside{
    grid-area: as;
    background-color: red;
    text-align: center;
}
.content{
    position: sticky;
    top:50%;
}
main{
    grid-area: m;
    background-color: White;
}
footer{
    grid-area: f;
    background-color: grey;
}